@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    font-size: 100%;
    background: whitesmoke;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.imagem {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
        }
main {
    display: flex;
    justify-content: center;
    align-items: center;
    alignment-baseline: central;
}

.texto1 {
    color: #D4A017;
    font-family: "Comfortaa", sans-serif;
    font-size: 25px;
    text-align: center;
  }

.texto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 10px;
    font-size: 15px
}
.botao {
    display: inline-block;
    background: #D4A017;
    color: #111111;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #D4A017;
    transition: all 0.3s ease;
   display: block;
    width: 250px;
    margin: 0 auto;
      }

footer{
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}
